html{
	background: lightblue;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

footer{
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -200px;

}

/*NAVIGATION BAR STYLE*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	text-decoration:none;
	padding:5px 21px;
	margin-bottom:5px;
	background:white;
	color:blue;
	text-align:center;
}

.toolBar {
    height: 100%;
    float:left;
    padding-top:20px;
    padding-left:10px;
}

/*Currently selected nav bar tab*/
#current {
	
}


/*HOME PAGE MESSAGE*/
.centerBOX{
	font-family: serif;
	height: 300px;
	width: 400px;
	position: absolute;
	top: 52%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
}

.aftercenterBOX{
	font-family: serif;
	height: 300px;
	width: 900px;
	position: absolute;
	top: 62%;
	left: 60%;
	margin-top: -100px;
	margin-left: -200px;
}





/*Main data page*/
.sideBOX {
	font-family: serif;
	height: 100%;
    float:left;
    margin-top: 20px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    background-color:rgba(0, 0, 0, 0.5);
}

.data {
	font-family: serif;
	height: 200px;
	width: 400px;
	position: absolute;
	top: 52%;
	left: 47%;
  	margin-top: -250px;
 	margin-left: -200px;
}






/*Sign-up and Log-in CSS*/
.wholeBOX{
	font-family: serif;
	height: 200px;
	width: 400px;
	position: absolute;
	top: 52%;
	left: 47%;
  	margin-top: -250px;
 	margin-left: -200px;
  	background-color:rgba(0, 0, 0, 0.5);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input[type="name"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="number"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  }
