{% extends "index.html" %}

{% block content %}

	{% block form%}
	{% from "_formhelpers.html" import render_field %}
		<form method="post" action="" name="createclass">
			{{ form.hidden_tag() }}
		  <dl>
		    {{ render_field(form.title) }}
		    {{ render_field(form.semester) }}
		    {{ render_field(form.callsign) }}
		    {{ render_field(form.CRN) }}
		    {{ render_field(form.session) }}
		    {{ render_field(form.start_time) }}
		   	{{ render_field(form.end_time) }}
		  </dl>
		  <p><input type=submit value=Create Class></p>
		</form>
	{% endblock form%}

{% endblock content %}