<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ClikUR | Home</title>
		<link href="style.css" type="text/css" rel="stylesheet">
		<script src="./jquery-2.1.4.min.js"></script>
   		<script src="./jqueryScript.js"> </script>
	</head>

	<body>
		<div class="container-fluid">
			<header>
				<img src="ClikUR.jpg" alt="ClikUR logo" width="50" style="float: left; PADDING-RIGHT: 5px">
				<font size="20" style="padding-left: 10px">ClikUR </font>
			<header>

			<section class="centerBOX">
				<h2 id="fadeInFirst" style="display: none"> ClikUR! </h2>
			</section>

			<section class="aftercenterBOX">
				<h2 id="fadeInSecond" style="display: none"> Making it CheapUR since November, 2015 </h2>
			</section>
		</div>

		<div class="toolBar">
    		<nav>
				<ul>
					<li id="current"> <a href="#">Home</a></li>
					<li id="option"> <a href="signup.html">Sign Up</a></li>
					<li id="option"> <a href="login.html">Log In</a></li>
				</ul>
			</nav>
		</div>
		
		<footer>
			<h5>ClikUR: Saving Money and Easing Communication, one download at a time!</h5>
		</footer>
	</body>
</html>