<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ClikUR</title>
		<link href="style.css" type="text/css" rel="stylesheet">
		<script src="./jquery-2.1.4.min.js"></script>
   		<script src="./jqueryScript.js"> </script>
	</head>

	<body>
		<div class="container-fluid">
			<header>
				<img src="ClikUR.jpg" alt="ClikUR logo" width="50" style="float: left; PADDING-RIGHT: 5px">
				<font size="20" style="padding-left: 10px">ClikUR </font>
			<header>

			<section class="data">

				<p> This is where all of your data will be shown </p>







			</section>

		</div>

		<div class="sideBOX">

		<img src="ClikUR.jpg" alt="PROFILE" width="40" style="float:left; padding-right: 10px;">
		<h4>FirstName LastName</h4>
		<p>
		<strong>Title: </strong>Student </br>
		<strong>Email Address: </strong>***@******.edu </br>
		<strong>Student ID: </strong>########
		</p>
		</div>
		
		<footer>
			<h5>ClikUR: Saving Money and Easing Communication, one download at a time!</h5>
		</footer>
	</body>
</html>