{% extends "index.html" %}

{% block content %}

	{% block table%}
	{% from "_formhelpers.html" import render_field %}
		<table>
			<thead>
				<tr>
					<td> Title </td>
					<td> Semester </td>
					<td> CallSign </td>
					<td> CRN </td>
					<td> Session </td>
					<td> Start Time </td>
					<td> End Time </td>
				</tr>
			</thead>
			
			{% for i in result %}
			<tbody>
			<tr class='clickable-row' data-href="class/{{ i['id'] }}" class_id = {{ i['id'] }}>
				<td> {{ i['title'] }} </td>
				<td> {{ i['semester']}} </td>
				<td> {{ i['callsign']}} </td>
				<td> {{ i['crn'] }} </td>
				<td> {{ i['session']}} </td>
				<td> {{ i['start_time']}} </td>
				<td> {{ i['end_time']}} </td>
 			</tr>
 			</tbody>
			{% endfor %}
				
		</table>



	{% endblock table%}

{% endblock content %}